# Xcode
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcarchive

# App Thinning
*_scnassets*
*_arkit*
*_texture*
*_metal*
*.assetpackmanifest*
*.assetpack*
*.appiconset*
*.stickerpack*
*.stickersequence*
*.stickericonset*

# Xcode Support
.idea/
*.bak
*.swp
*~
*.dSYM
*.xcode
*.xcconfig

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/

# User-specific
*.DS_Store
*.Trash
*.swp
*.swo
*.config.code-workspace

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Other common artifacts
*.log
*.tmp

